---
import '@/styles/hazel/hazel.css';
import Body from '@/islands/hazel/Body';
import To from '@/islands/hazel/To';
import Music from '@/islands/hazel/Music';
import Snowflakes from '@/islands/hazel/Snowflakes';
import {
  feature,
  featureGeneral,
  featureTo,
  featureMusic,
  featureSnowflakes,
} from '@/lib/featureHazel';

const { options, data } = Astro.props;

const featureData = feature(data.feature);
const { fGeneral, fTo, fMusic, fSnowflakes } = featureData;

const featureDataGeneral = featureGeneral(fGeneral.column);
const featureDataTo = featureTo(fTo.column);
const featureDataMusic = featureMusic(fMusic.column);
const featureDataSnowflakes = featureSnowflakes(fSnowflakes.column);
---

<>
  <Body client:load options={options} general={featureDataGeneral} />
  <div class:list={['main', 'text-md md:text-lg min-h-screen']}>
    <!-- Kepada -->
    {
      fTo && fTo.is_active && (
        <To client:load options={options} to={featureDataTo} />
      )
    }

    <!-- Musik -->
    {
      fMusic && fMusic.is_active && (
        <Music client:idle options={options} music={featureDataMusic} />
      )
    }

    <!-- Snowflakes -->
    {
      fSnowflakes && fSnowflakes.is_active && (
        <Snowflakes
          client:idle
          options={options}
          snowflakes={featureDataSnowflakes}
        />
      )
    }

    Hazel Layout
  </div>
</>

<style>
  .main {
    background-color: var(--hazel-bg-color);
    color: var(--hazel-color-body);
    font-family: 'nashvilleBody';
  }
</style>
