---
import '@/styles/base.css';
import '@/styles/nashville.css';
import { Image } from '@astrojs/image/components';
import BaseHead from '@/layouts/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import FeatureKepada from '@/islands/nashville/Kepada';

import {
  featureNashvile,
  featureNashvileGeneral as featureGeneral,
  featureNashvileKepada as featureKepada,
  featureNashvileSampul as featureSampul,
} from '@/lib/featureNashville';

const { options, data, greeting } = Astro.props;

const feature = featureNashvile(data.feature);
const general = featureGeneral(data.feature);
const kepada = featureKepada(data.feature);
const sampul = featureSampul(data.feature);

const { fKepada } = feature;
const { generalBgColor, generalColorBody, generalBgHr } = general;
const { kepadaImage } = kepada;
const { sampulBgImage } = sampul;

const meta = {
  title: `Pernikahan ${data.name}`,
  description: data.description,
  route: Astro.url.pathname,
  image: sampulBgImage.value,
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead meta={meta} />
  </head>
  <body>
    <main>
      <!-- Kepada -->
      {
        fKepada && fKepada.is_active && (
          <FeatureKepada
            client:load
            options={options}
            general={general}
            kepada={kepada}
          >
            <Image
              slot="image"
              src={kepadaImage.value}
              alt={kepadaImage.label}
              width="100"
              height="100"
            />
            <Image
              slot="hr"
              src={generalBgHr.value}
              alt={generalBgHr.label}
              width="100"
              height="42.77"
            />
          </FeatureKepada>
        )
      }

      <div>asd</div>
    </main>
    <Footer />
    <style define:vars={{ generalColorBody: generalColorBody.value }}>
      body {
        @apply bg-white;
      }

      main {
        font-family: 'nashvilleBody';
        color: var(--generalColorBody);
      }
    </style>
  </body>
</html>
